<div class="m-helpdeskDashboard">
  <form (submit)="save()" class="m-border" style="max-width:740px; background: #FFF; width: 600px; margin: auto; padding: 16px;">
    <div class="m-layout__column" style="width: 100%">

      <div class="m-layout__cell">
        <minds-textarea
          name="question"
          [(mModel)]="question.question"
          class="m-h1-input"
          placeholder="Your title"
          i18n-placeholder="@@HELPDESK__EDIT__TITLE_PLACEHOLDER"
        ></minds-textarea>
      </div>

      <div class="m-layout__cell">
        <m-inline-editor
          name="answer"
          [(ngModel)]="question.answer"
          placeholder="Your answer"
          i18n-placeholder="@@HELPDESK__EDIT__ANSWER_PLACEHOLDER"
          #inlineEditor
        ></m-inline-editor>
      </div>

      <div class="m-layout__cell">
        <m-dropdown #dropdown>
          <label i18n="@@HELPDESK__EDIT__CATEGORIES__TITLE">
            Select a Category
            <i class="material-icons m-dropdown--label-icon m-dropdown--label-icon-inactive">keyboard_arrow_down</i>
            <i class="material-icons m-dropdown--label-icon m-dropdown--label-icon-active">keyboard_arrow_up</i>
          </label>

          <ul class="m-dropdown--list">
            <li
              class="m-dropdown--list--item"
              [class.m-dropdown--list--item--selected]="this.question.category_uuid === category.uuid"
              *ngFor="let category of categories; trackBy:trackCategories"
              (click)="selectCategory(category); dropdown.toggle()"
            >
              {{renderBranch(category)}}
            </li>
          </ul>
        </m-dropdown>
      </div>
    </div>

    <div class="m-layout__cell">
      <button type="submit" class="m-button m-button--text m-button--draft" i18n="@@HELPDESK__EDIT__SAVE_ACTION">
        Save
      </button>
      <div class="m-helpdesk--question-creator--error">{{error}}</div>
    </div>

  </form>
</div>
