minds-button {
  display: inline-block;
}
.m-button.m-button--text {
  -webkit-appearance: none;
  border: 1px solid #EEE;
  color: #777;
  background: transparent;
  padding: 12px 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-family: 'Roboto';
}

.m-topbar .m-btn {
  height: 32px;
}

.m-btn {
  background: transparent !important;
  border: 1px solid #ececec;
  border-radius: 18px;
  font-size: 12px;
  height: 42px;
  letter-spacing: 1.25px;
  color: #444;
  box-shadow: none;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: 'Roboto';
  cursor: pointer;

  &:hover {
    border: 1px solid #ccc;
  }
}

.m-btn--slim {
  height: 32px;
}

.m-btn--action {
  background: #FFF;
  border: 1px solid #4690D6;
  color: #4690D6 !important;

  &:hover {
    border: 1px solid #4690D6;
  }

  &[disabled] {
    color: #aaa !important;
    border-color: #aaa !important;
  }
}

.m-btn--destructive {
  background: #FFF;
  border: 1px solid #CC0000;
  color: #CC0000 !important;

  &:hover {
    border: 1px solid #CC0000;
  }

  &[disabled] {
    color: #aaa !important;
    border-color: #aaa !important;
  }
}

.m-btn--with-icon {
  padding-left: 8px;
  padding-right: 12px;

  &.m-btn--slim {
    padding-left: 16px;
    padding-right: 16px;
  }

  i {
    font-size: 20px;
    line-height: 0;
    margin-right: 4px;
    opacity: 0.9;
  }
  i, span {
    vertical-align: middle;
  }

  &.m-btn--slim > i {
    margin-left: 4px;
    margin-right: 0;
  }
}
